    
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    {% if title %}
        <title>Christian artcles - {{ title }}

        </title>
        
    {% else %}
        <title>Christian artcles</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" id="brand" href="/">Christianity Articles</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{url_for('main.index')}}">Home</a>
              <a class="nav-item nav-link" href="{{url_for('main.about')}}">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                  <a class="nav-item nav-link" href="{{url_for('posts.new_post')}}">New Article</a>
                  <a class="nav-item nav-link" href="{{url_for('users.profile')}}">Profile</a>
                  <a class="nav-item nav-link" href="{{url_for('users.logout')}}">Logout</a>
                {% else %}
                  <a class="nav-item nav-link" href="{{url_for('users.login')}}">Login</a>
                  <a class="nav-item nav-link" href="{{url_for('users.register')}}">Register</a>
              {% endif %}
              
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category,message in messages %}
              <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
                {{message}}
              </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3 style="color:lightseagreen;">Top Rated Articles</h3>
            <p class='text-muted'>These the most liked articles.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Pracical Faith</li>
                <li class="list-group-item list-group-item-light">Life of Faith</li>
                <li class="list-group-item list-group-item-light">Christian Life</li>
                <li class="list-group-item list-group-item-light">Salvation Concept</li>
              </ul>
            </p>
          </div>
          <p class="nav-item" data-toggle="modal" data-target="#myModalBot">
            <a href="#" class="btn btn-success my-3 my-sm-0 ml-lg-3"><i class="fa fa-whatsapp" aria-hidden="true"></i>Chat Live With an Agent</a>
          </p>
<!-- Modal -->
<div class="modal left fade" id="myModalBot" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-body">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Ask Questions concerning Christianity Here!! </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              <iframe style="border:hidden; width:100%;height:300px;"
              
              src="https://console.dialogflow.com/api-client/demo/embedded/82f353ca-bd42-4e7a-9dc7-02e00fff89b2"></iframe>
          </div>
      </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal -->
        </div>
        
      
      </div>
    </main>
   <div class="footer" style="background-color: black; ">
       <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <h3 style="color:lightseagreen;">Our Services</h3>
                <div class="">
                        <ul class="navbar-nav">
                                <li class="nav-item "><a href="#" class="nav-link" style="color:white; font-size:11px; line-height: 2px;">Web design</a></li>
                                <li class="nav-item"><a href="#" class="nav-link" style="color:white; font-size:11px; line-height: 2px;">System Developement</a></li>
                                <li class="nav-item"><a href="#" class="nav-link" style="color:white; font-size:11px; line-height: 2px;">Software Development Training</a></li>
                                <li class="nav-item"><a href="#" class="nav-link" style="color:white; font-size:11px; line-height: 2px;">Search Engine Optimization</a></li>
                            </ul>
                </div>
                   
            </div>
            <div class="col-md-3 text-muted">
                
                    <div id="link">
                            <ul class="navbar-nav">
                                    <h4 style="color:lightseagreen;">Subscribe To our Articles</h4>
                                    
                                    <li class="nav-item"><a href="#" class="nav-link" style="color:white; font-size:11px; line-height: 2px;">Web design</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link" style="color:white; font-size:11px; line-height: 2px;">System Developement</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link" style="color:white; font-size:11px; line-height: 2px;">Software Development Training</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link" style="color:white; font-size:11px; line-height: 2px;">Search Engine Optimization</a></li>
                                </ul>
                    </div>
            </div>
            <div class="col-md-3">
                
                    <div class="">
                            <ul class="navbar-nav">
                                    <h4 style="color:lightseagreen;">Subscribe To our Articles</h4>
                                    
                                    <li class="nav-item"><a href="#" class="nav-link" style="color:white; font-size:11px; line-height: 2px;">Web design</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link" style="color:white; font-size:11px; line-height: 2px;">System Developement</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link" style="color:white; font-size:11px; line-height: 2px;">Software Development Training</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link" style="color:white; font-size:11px; line-height: 2px;">Search Engine Optimization</a></li>
                                </ul>
                    </div>
            </div>
            <div class="col-md-3">
                
                    <div class="">
                            <ul class="navbar-nav">
                                <h4 style="color:lightseagreen;">Subscribe To our Articles</h4>
                                    </ul>
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Email....">
                                </div>
                                    <div>
                                        <input  type="submit" value="Subscribe" class="btn btn-success">
                                    </div>
                                    
                                
                    </div>
            </div>
        </div>
        </div>
   </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>